.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    background-color: lightgrey;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px black;
    padding: 12px 16px;
    position: absolute;
    display: none;
}
.dropdown:hover .dropdown-content{
    display: block;
}